body {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

h1{
    text-align: center;
    background-color: rgb(0, 34, 226);
    border-radius: 30px;
    font-size: 40px;
    font: arial;
}


img {
    padding-left: 10px;
    float: left;
    border-radius: 300px;
    margin-left: 10%;
    margin-right: 10%;

}

.direita {
    width: 80%;
    height: 100px;
    float: right;
    color: rgb(60, 60, 95);
    text-align: left;
    font-size: 24px;
    font: arial;
}

.esquerda {
    width: 20%;
    height: 100px;
    float: left;
}

.esquerda50 {
    width: 49.5%;
    height: 50%;
    float: left;
    color: rgb(60, 60, 95);
    text-align: justify;
    padding-top: 30px;
    border-right: solid rgb(60, 60, 95);
}

.direita50 {
    width: 50%;
    height: 50px;
    float: right;
    color: rgb(60, 60, 95);
    text-align: justify;
    padding-top: 30px;
}

.unica {
    clear: both;
    padding-top: 30px;
}